<div>
    <div>
        <%= render partial: 'application/tweet_form', locals: { post: @post } %>
        <p class="spacer"></p>
        <%= render partial: 'application/posts_form', locals: { posts: @posts } %>
    </div>
</div>