<div class="back-motion">
        <a href="/posts" class=""><i class="fas fa-arrow-left"></i></a>
</div>
<p class="spacer"></p>
<%= render partial: 'application/tweet_form', locals: { post: @post } %>