.container {
    width:600px;
    margin: 0 auto;
    border-left: 2px solid rgb(55,68,76);
    border-right: 2px solid rgb(55,68,76);
}

.content {
    padding: 20px;
    border-top: 2px solid rgb(55,68,76);
    text-align: center;
}